dist/tapper-0.1.tar.gz
tapper.egg-info/dependency_links.txt
tapper.egg-info/entry_points.txt
tapper.egg-info/PKG-INFO
tapper.egg-info/requires.txt
tapper.egg-info/SOURCES.txt
tapper.egg-info/top_level.txt
