<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale = 1.335, minimum-scale = 1.335, maximum-scale = 1.335"/>

        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/contents.css" />

        <script>
        var Tapper_Debug = false;
        var Tapper_Debug_Host = "pepper.local";
        </script>

        <script src="/libs/qimessaging/2/qimessaging.js"></script>
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="js/tapper.js"></script>
        <script src="js/contents.js"></script>

    </head>
    <body>{% for i in range(scene) %}
        <section id="scene{{ i + 1}}" style="display: {% if i==0 %}block;{% else %}none;{% endif %}">
        </section>{% endfor %}
    </body>
</html>

