<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/contents.css" />
        <script src="js/tapper.js"></script>
        <script src="js/contents.js"></script>

    </head>
    <body>
        <section id="scene1">
        </section>
    </body>
</html>

