<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/contents.css" />
        <script src="js/tapper.js"></script>
        <script src="js/contents.js"></script>

    </head>
    <body>{% for i in range(scene) %}
        <section id="scene{{ i + 1}}" style="display: {% if i==0 %}block;{% else %}none;{% endif %}">
        </section>{% endfor %}
    </body>
</html>

