// pepper contents

Tapper.contents = {

    onLoad: function() {
        console.log("onLoad.");
    },

    onStart: function() {
        console.log("onStart.");
    }{% for i in range(scene) %}{% if loop.index0 < scene %},

    {% endif %}onScene{{ i + 1 }}: function() {
        console.log("onScene{{ i + 1 }}");
    }{% endfor %}
}

